.calculator {
  $theme-default: '#{&}--theme-default &';

  &--theme-default {
    max-width: 230px;
    background-color: hsl(0, 0%, 35%);
    border: 1px solid hsl(0, 0%, 2%);
    color: hsl(0, 0, 100%);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    font: {
      size: 2em;
      weight: bolder;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .5;
      left: 0;
      top: 0;
      // z-index: 1;
      border: 1px solid hsl(0, 0, 100%);
      border-radius: 6px;
      pointer-events: none;
    }
  }
  
  &__stack {
    padding: 1em 1em 0;
    font-size: 0.5em;

  }
  &__result {
    padding: 0.25em 0.5em;
  }

  &__button {
    border: none;
    padding: 9px 0;
    font-size: 0.75em;

    #{$theme-default} {
      background-color: hsl(0, 0%, 52%);
    }
  }
}